<h1>Homepage</h1>

<% if user_signed_in? %>
  <p>You are logged in as: <%= current_user.email %>.</p>
  <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to "Sign Up", new_user_registration_path %></p>
  <p><%= link_to "Sign In", new_user_session_path %></p>
<% end %>

<h3>Go to the <%= link_to "Message Board", posts_path %></h3>
